menu "ESP32 as soft AP credentials"

config ESP32AP_SSID
    string "ESP32 as soft-AP SSID"
    default "xxxxx"

config ESP32AP_PWD
    string "ESP32 as soft-AP password"
    default "xxxxx"  

endmenu