menu "Twilio Configurations"

config TWILIO_SID
    string "Twilio SID"
    default "xxxx"

config TWILIO_AUTH_TOKEN
    string "Twilio authentification token"
    default "xxxx"  

config FROM_PHONE_NUM
    string "Twilio phone number"
    default "+10000000000"

config TO_PHONE_NUM
    string "Phone number to send message to"
    default "+10000000000"

endmenu